/*

    Configuration created by: Németh Samu
    Based on: https://github.com/benvallack/zmk-config/blob/84ae125986b18e1e6dfb1f2a6a15777429f29520/config/cradio.keymap

*/

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20  // 10

#include <behaviors.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/*

    Ordering of switches on the left side.
    The input gpio numbers have to be in this order.

        0   1   2   3   4     21  20  19  18  17    
        5   6   7   8   9     26  25  24  23  22    
        10  11  12  13  14    31  30  29  28  27    
                    15  16    33  32    

*/

// Adjusted pin arrangement.
&kscan0 {
    input-gpios
    = <&pro_micro  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    , <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
    ;
};

// Mod tap tuning.
&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

// Mouse control tuning.
&mmv {
  acceleration-exponent = <1>;          // 1
  time-to-max-speed-ms = <500>;         // 300
  delay-ms = <0>;                       // 0
};

&msc {
  acceleration-exponent = <0>;          // 0
  time-to-max-speed-ms = <300>;         // 300
  delay-ms = <0>;                       // 0
};

// #define U_MS_U &mmv MOVE_UP
// #define U_MS_D &mmv MOVE_DOWN
// #define U_MS_L &mmv MOVE_LEFT
// #define U_MS_R &mmv MOVE_RIGHT
// #define U_WH_U &msc SCRL_UP
// #define U_WH_D &msc SCRL_DOWN
// #define U_WH_L &msc SCRL_LEFT
// #define U_WH_R &msc SCRL_RIGHT

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    // Keymap layer definitions.
    keymap {
        compatible = "zmk,keymap";
        default_layer { // Layer 0
            bindings = <

&kp SQT  &kp COMMA &kp DOT    &kp P      &kp Y     &kp F &kp G      &kp C      &kp R &kp L
&kp A    &kp O     &hm LALT E &hm LGUI U &kp I     &kp D &hm RGUI H &hm RALT T &kp N &kp S
&kp SEMI &kp Q     &kp J      &kp K      &kp X     &kp B &kp M      &kp W      &kp V &kp Z
                   &kp SPACE  &kp LSHIFT &kp RCTRL &to 1

            >;
        };

        symbol_layer { // Layer 1
            bindings = <

&kp ESC   &kp AT_SIGN &kp LS(N3)   &kp DLLR         &kp PRCNT  &kp CARET &kp LS(COMMA) &kp LS(DOT) &kp SEMI &kp BACKSPACE
&kp TAB   &kp EQUAL   &kp LA(RBKT) &kp LA(LS(RBKT)) &kp SQT    &kp BSLH  &kp LBRC      &kp RBRC    &kp PIPE &kp ENTER
&kp TILDE &kp LA(N3)  &kp LA(LBKT) &kp LA(LS(LBKT)) &kp DQT    &kp LBKT  &kp LPAR      &kp RPAR    &kp RBKT &to 3
                                   &to 0            &kp LSHIFT &kp RALT  &to 2

            >;
        };

        number_layer { // Layer 2
            bindings = <

&kp ESC &kp C_PP &kp C_PREV   &kp C_NEXT   &kp LS(MINUS) &kp MINUS &kp N7 &kp N8 &kp N9 &kp BACKSPACE
&kp TAB &trans   &kp C_VOL_DN &kp C_VOL_UP &kp LS(EQUAL) &kp EQUAL &kp N4 &kp N5 &kp N6 &kp ENTER
&none   &kp AMPS &kp SLASH    &kp STAR     &kp DOT       &kp N0    &kp N1 &kp N2 &kp N3 &to 3
                              &to 0        &kp LGUI      &kp RALT  &none

            >;
        };

        nav_layer { // Layer 3
            bindings = <

&kp ESC   &msc SCRL_LEFT   &mmv MOVE_UP   &msc SCRL_RIGHT &msc SCRL_UP   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2   &kp BACKSPACE
&kp TAB   &mmv MOVE_LEFT   &mmv MOVE_DOWN &mmv MOVE_RIGTH &msc SCRL_DOWN &kp LEFT   &kp DOWN     &kp UP       &kp RIGHT      &kp ENTER
&mkp RCLK &studio_unlock   &bootloader    &soft_off       &sys_reset     &sys_reset &soft_off    &bootloader  &studio_unlock &none
                                          &to 0           &mkp LCLK      &none      &to 2

            >;
        };
    };
};